* {
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-inline: 200px;
}

header {
    height: 80px;
}

footer {
    height: 80px;
}

main {
    height: calc(100vh - 160px);
}

.letterBoxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2px;
}

.letterBox {
    border: 1.8px solid black;
    height: 20px;
    width: 20px;
    font-size: larger;
    font-weight: bold;
    text-align: center;
    box-shadow: 2px 2px 2px;
}