* {
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-inline: 200px;
    background: oklch(0.6691 0.073 319.94);
}

header {
    height: 80px;
}

footer {
    height: 80px;
}

footer a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

main {
    height: calc(100vh - 160px);
}

.letterBoxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2px;
}

.letterBox {
    border: 1.8px solid black;
    height: 20px;
    width: 20px;
    font-size: larger;
    font-weight: bold;
    text-align: center;
    box-shadow: 2px 2px 2px;
}

.virtualKeyboard {
    margin-top: 1rem;
}

.keyboardLetters {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.keyboardLetters div {
    border: 2px solid black;
    margin: 2px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.507);
    color: lightcyan;
    box-shadow: 2px 2px 2px black;
    user-select: none;
}

.keyboardLetters div:hover {
    cursor: pointer;
    color: green;
}

#eraseLetterButton {
    border-radius: 10px;
    border: 0px solid black;
    padding: 2px 5px 2px 5px;
    background-color: rgba(0, 0, 0, 0.486);
    text-align: center;
    font-size: larger;
    box-shadow: 2px 2px 2px black;
    color: lightcyan;
}

#enterButton {
    border-radius: 10px;
    border: 0px solid black;
    padding: 2px 5px 2px 5px;
    background-color: rgba(0, 0, 0, 0.486);
    text-align: center;
    font-size: larger;
    box-shadow: 2px 2px 2px black;
    color: lightcyan;

}

.flashMessage {
    background-color: rgba(255, 0, 0, 0.541);
    color: lightcyan;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
}

.flashGoodMessage {
    background-color: rgb(57, 228, 57);
    color: lightcyan;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
}